<main class="container">
  <form class="example-container row" [formGroup]="fomRegistre">
    <div class="col-12 col-md-6">
      <mat-form-field class="w-100">
        <input matInput placeholder="Enter your email" formControlName="email" required>
        <mat-error *ngIf="">Error</mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="contrasenya" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </div>
    
    <div class="col-12 col-md-6">
        <mat-form-field class="w-100">
          <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="contrasenya2" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    </div>

    <div class="col-12 col-md-6 d-flex align-items-center">
      <mat-checkbox class="w-100" formControlName="politica" required>Accepto la politica de privacitat</mat-checkbox>
    </div>

    <div class="col-12 col-md-6">
      <button  mat-raised-button color="primary" (click)="enviar()">Enviar</button>
    </div>

  </form>
</main>