<main class="container-fluid" *ngIf="modulCarregat; else noCarregat">
    <div class="row pt-3">
        <div class="col-12 col-md-5">
            <mat-form-field class="w-100 inputNom">
                <input matInput [(ngModel)]="tasca.nom">
            </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
            <app-select-autocompletat [etiquetes]="tasca.etiquetes" (canviEtiquetes)="canviEtiquetes($event)"></app-select-autocompletat>
        </div>
        <div class="d-none d-md-flex col-md-1 align-items-center justify-content-center">
            <button mat-raised-button matTooltip="Guardar" color="primary" (click)="guardarTasca()"><mat-icon>save</mat-icon></button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item *ngIf="isNova == false" (click)="esborrarTasca()">
                <mat-icon>delete</mat-icon>
                <span>Esborrar</span>
            </button>
            <button mat-menu-item (click)="obrirDialogAlarma()">
                <mat-icon>alarm</mat-icon>
                <span>Recordatori</span>
            </button>
            <button mat-menu-item *ngIf="tasca.alarma; else noAlarma" (click)="tasca.alarma = undefined">
                <mat-icon>alarm_off</mat-icon>
                <span>Desactivar recordatori</span>
            </button>
            </mat-menu>
                  
        </div>
    </div>
    <div class="row">
        <editor class="col-12 editor" apiKey="gs2qh8rbdjf75zc1w2wqi72o5m9d0h9wazxah3m60qjhpvxz " [init]="{height: 500}" [(ngModel)]="tasca.contingut"></editor>
    </div>
</main>

<!-------------- Templates -------------->
<ng-template #noAlarma>
    <button mat-menu-item disabled>
        <mat-icon>alarm_off</mat-icon>
        <span>Desactivar alarma</span>
    </button>
</ng-template>

<!-- Carregant -->
<ng-template #noCarregat>
    <div class="contenidor">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>