/* Nav */
.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.sideNav {
    min-width: 250px;
}
.example-icon {
    //padding: 0 14px;
}
.buscador {
    color: #333;
    border: none;
    border-radius: 1em;
    background-color: #fafafa;
    padding: 5px 16px;
    margin-left: 8px;
    width: 180px;
    max-width: 240px;
    height: 50%;
    font-size: 1rem;
    transition: 1s;
    -webkit-appearance: none;
    &:focus {
        outline: none;
        transition: 1s;
        width: 240px;
    }
}
.example-spacer {
    flex: 1 1 auto;
}