<main class="container-fluid">
  <div class="row">
      <app-header class="col-12" (nouElement)="novaTasca($event)" [titol]="'Tasques'"></app-header>
      <div class="d-none d-md-block col-md-6">
        <div class="row">
          <mat-form-field class="col-md-6">
            <mat-label>Etiquetes</mat-label>
            <mat-select [formControl]="etiquetesForm" multiple>
              <mat-option *ngFor="let etiqueta of etiquetes" [value]="etiqueta.nom">{{etiqueta.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> 
          <mat-slide-toggle class="col-md-6">Invertir ordre</mat-slide-toggle>          
        </div>
      </div>
      <div class="tasquesContainer col-12 col-md-6">
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
        <app-tasca-llista class="w-100" *ngFor="let tasca of tasques$ | async" [tasca]="tasca"></app-tasca-llista>
      </div>
  </div>
</main>
<app-boto-fixe-bottom (nouElement)="novaTasca($event)"></app-boto-fixe-bottom>