<p><button mat-button>Correu@exemple.com</button></p>
<mat-nav-list>
  <a mat-list-item routerLink="/home">
    <mat-icon class="mr-2">inbox</mat-icon>
    Totes les tasques
  </a>
  <a mat-list-item routerLink="">
    <mat-icon class="mr-2">calendar_today</mat-icon>
    Avui
  </a>
  <a mat-list-item routerLink="">
    <mat-icon class="mr-2">calendar_today</mat-icon>
    Aquesta setmana
  </a>
  <a mat-list-item routerLink="/home/etiquetes">
    <mat-icon class="mr-2">label</mat-icon>
    Etiquetes
  </a>
</mat-nav-list>