<main class="container">
  <div class="row justify-content-center align-content-center">
    <div class="caixa col-10 col-md-6">
      <form class="row align-content-center justify-content-center p-3 h-100" [formGroup]="fomIniciSessio">
        <h3 class="titol h2">Inici Sessió</h3>

        <div class="col-12 inputGroup">
            <mat-form-field class="w-100">
              <input matInput placeholder="Enter your email" formControlName="email" required>
              <mat-error *ngIf="fomIniciSessio.controls['email'].hasError('required')">
                Email <strong>necessari</strong>
              </mat-error>
            </mat-form-field>
          </div>
      
          <div class="col-12 inputGroup">
            <mat-form-field class="w-100">
              <input matInput placeholder="Enter your password" [type]="hidePass ? 'text' : 'password'" formControlName="contrasenya" required>
              <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
              <mat-error *ngIf="fomIniciSessio.controls['contrasenya'].hasError('required')">
                Contraseya <strong>necessaria</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" class="col-10 mt-2 mb-4">Enviar</button>
          <section class="registreContainer">
            <span>No tens compte? </span><a [routerLink]="[ '/registre']">Registrar-se</a>
          </section>
      </form>
    </div>
  </div>
</main>