<main class="container-fluid">
    <div class="row">
      <div class="col-12 titolContainer">
        <h1 class="h3">Etiquetes</h1>
        <button mat-stroked-button *ngIf="!mobileQuery.matches" (click)="obrirDialog()"><span>Nova Etiqueta</span> </button>
      </div>
      <mat-divider class="col-12 mb-3 divider"></mat-divider>
      <app-etiqueta class="col-12" *ngFor="let etiqueta of etiquetes" [etiquta]="etiqueta" (editar)="actualitzarEtiqueta($event)" (eliminar)="esborarEtiqueta($event)"></app-etiqueta>
    </div>
  </main>
  <button mat-fab class="botoMesContainer" *ngIf="mobileQuery.matches" (click)="obrirDialog()"><mat-icon class="botoMes">close</mat-icon> </button>