<div class="container">
  <div class="row justify-content-center cardRow">
    <mat-card class="col-10 col-md-4">
      <mat-card-header class="d-flex justify-content-center align-items-center">
        <mat-card-title>Registre</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="row align-content-center justify-content-center p-3 h-100" [formGroup]="fomRegistre">        
          <div class="col-12 inputGroup">
              <mat-form-field class="w-100">
                <input matInput placeholder="Enter your email" formControlName="email" required>
                <mat-error *ngIf="fomRegistre.controls['email'].hasError('required')">
                  Email <strong>necessari</strong>
                </mat-error>
              </mat-form-field>
            </div>
        
            <div class="col-12 inputGroup">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Enter your password" [type]="hidePass ? 'text' : 'password'" formControlName="contrasenya" required>
                  <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="fomRegistre.controls['contrasenya'].hasError('required')">
                    Contraseya <strong>necessaria</strong>
                  </mat-error>
                </mat-form-field>
            </div>
            
            <div class="col-12 inputGroup">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Enter your password" [type]="hidePass2 ? 'text' : 'password'" formControlName="contrasenya2" required>
                  <mat-icon matSuffix (click)="hidePass2 = !hidePass2">{{hidePass2 ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="fomRegistre.controls['contrasenya2'].hasError('required')">
                    Verificació contrasenya <strong>necessaria</strong>
                  </mat-error>
                </mat-form-field>
            </div>
        
            <div class="col-12 inputGroup d-flex align-items-center justify-content-center">
              <mat-checkbox class="w-100" formControlName="politica" required>Accepto la politica de privacitat</mat-checkbox>
            </div>

            <button mat-raised-button color="primary" class="col-10 mt-2 mb-4" (click)="enviar()">Enviar</button>
            <section class="registreContainer">
              <span>Ja tens compte? </span><a [routerLink]="[ '/inici-sessio']">Iniciar sessió</a>
            </section>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>