<main class="container">
  <div class="row justify-content-center">
    <div class="col-6">AQUÍ ANIRÀ EL LOGO</div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <a routerLink="/registre">
        <button class="btn btn-primary">Registre</button>
      </a>
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="col-6">
      <a routerLink="/inici-sessio">
        <button type="button" class="btn btn-raised btn-primary">Inici Sessió</button>
      </a>
    </div>
  </div>
</main>